---

- name: "playbook 1 :obtener y almacenar la running-config" 
  hosts: LAB_GNS3
  connection: network_cli
  gather_facts: no
  tasks:
    - name: "tarea 1: obtener la running-config y por ssh"
      ios_command:
        commands: "show running-config"
      register: cli_result
        
        
    - name: "tarea 2: muestra en pantalla el resultado"
      debug:
        msg: "{{ cli_result }}"
   
        
    - name: "tarea 3: creando una carpeta para guardar la running-config"
      file:
        path: "salida_running_config"
        state: directory
      run_once: true
    

    - name: "tarea 4: creando los archivos para guardar la running-config por Router"
      copy: 
        content: "{{ cli_result.stdout[0] }}\n"
        dest: "salida_running_config/{{ inventory_hostname }}.txt"
