
{% for config in configs %}
interface FastEthernet {{ config.if_lan }}
ip address {{ config.address_lan }} {{ config.subnet_mask_lan }}
no shutdown
interface serial {{ config.if_wan1 }}
ip address {{ config.address_wan1 }} {{ config.subnet_mask_wan }}
no shutdown
interface serial{{ config.if_wan2 }}
ip address {{ config.address_wan2 }} {{ config.subnet_mask_wan }}
no shutdown
ip dhcp excluded-address {{ config.range_begin }} {{ config.range_finish }}
ip dhcp pool {{ config.pool_name }}
network {{ config.network_lan }} {{ config.subnet_mask_lan }}
default-router {{ config.address_lan }}
dns-server 8.8.8.8
domain-name ccna-lab.com
lease 2
router ospf 7
network {{ config.network_wan1 }} {{ config.wildcard_wan }} area 0 
network {{ config.network_wan2 }} {{ config.wildcard_wan }} area 0
network {{ config.network_lan }} {{ config.wildcard_lan }} area 0
{% endfor %}



